# SPDX-License-Identifier: MIT

if BOARD_SHAH_ARISU

config ZMK_KEYBOARD_NAME
    default "Spring"

config ZMK_USB
    default y

config ZMK_KSCAN_MATRIX_POLLING
    default y
# do we need this ?

endif # BOARD_SHAH_ARISU
